---
import Section from "@/components/Section.astro";
import { languages } from "@cv";
---

<Section title="Idiomas">
  <ul>
    {
      languages.map(({ language, fluency }) => (
        <li>
          <span>{language}</span>
          <p>{fluency}</p>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 15px;
    flex-wrap: wrap;
  }
</style>
